<%- include ("partials/header") %>

    <div class="container-fluid "id="main-content">
      
      <p class="content">  <%= homeContentEJS %></p>


            <% blog.forEach(function(blogPost){%>
                
                            <h3>
                                <%= blogPost.title %>
                            </h3>
                        
                            <p>
                                <%= blogPost.body.substring(0,99) %> ... 
                            </p>
<a href="/blogs/<%= blogPost.title %> ">read more</a>
                   

                    <% }); %>
                
    
    </div>
    <%- include ("partials/footer") %>